<!--Container of everything except side panel and header-->
<mat-drawer-container
[autosize]="true"
class="min-h-full max-w-7xl mx-auto border-x"
>
    <!--Container of the left side section-->
    <mat-drawer mode="side" opened class="p-6">
        <div>
            <app-filters (showCategory)="onShowCategory($event)"></app-filters>
        </div>
    </mat-drawer>

    <!--Container of the products header and products-->
    <mat-drawer-content class="p-6">
        <app-products-header (columnsCountChange)="onColumnsCountChange($event)"></app-products-header>

        <!--List of products-->
        <mat-grid-list gutterSize="16" [cols]="columns" [rowHeight]="rowHeight">
            <!--Each tile contains a product box component-->
            <mat-grid-tile>
                <!--If we have one column per row, set fullWidthMode in app-product-box to 1-->
                <app-product-box class="w-full" [fullWidthMode]="columns === 1"></app-product-box>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-drawer-content>

</mat-drawer-container>